* {
    box-sizing: border-box;
}

body {
    background: rgb(43,47,62);
    background: linear-gradient(160deg, rgba(43,47,62,1) 0%, rgba(153,153,204,1) 100%);
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #7ccfaf;
}

.full-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    text-align: center;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #7ccfaf;
    width: 450px;
    outline: none;
    color: #ffffff;
    padding: 7px;
    font-size: 21px;
    transition: all 0.2s ease;
}

input[type="text"]::placeholder {
    color: rgba(153,153,204,1);
}

button {
    border: none;
    background-color: transparent;
    color: #7ccfaf;
    font-size: 50px;
    line-height: 1em;
    outline: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

button:hover {
    color: #ffffff;
}

a.back {
    position: fixed;
    top: 0;
    left: 10px;
    color: #7ccfaf;
    font-size: 50px;
    line-height: 1em;
    text-decoration: none;
    transition: all 0.2s ease;
}

a.back:hover {
    color: #ffffff;
}

section.content {
    max-width: 1000px;
    margin: 0 auto;
}

.deal {
    background-color: #4c5264;
    margin: 20px 0;
    padding: 15px;
    font-size: 18px;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    font-size: 16px;
    padding: 20px 10px;
}

th, td {
    line-height: 1.5em;
}

th.title {
    width: 300px;
    padding-right: 20px;
}

th:not(.title) {
    color: #ff6a7c;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0 10px;
}

td.actions {
    width: 165px;
}

td.stores {
    width: 250px;
}

td.actions a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    height: 30px;
    line-height: 30px;
    border: 2px solid;
    box-sizing: content-box;
    transition: all 0.2s ease;
}

td.actions a.buy {
    background-color: #7ccfaf;
    border-color: #7ccfaf;
    margin-bottom: 10px;
}

td.actions a.buy:hover {
    color: #7ccfaf;
    background-color: transparent;
}

td.actions a.info {
    background-color: #99c;
    border-color: #99c;
}

td.actions a.info:hover {
    color: #99c;
    background-color: transparent;
}
