<!DOCTYPE html>
<title>{% block title %}{% endblock %} - GameDeals</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block header %}
    <header></header>
{% endblock %}
<section class="content">
    {% block content %}{% endblock %}
</section>