{% extends 'base.html' %}

<title>{% block title %}Index{% endblock %}</title>

{% block content %}
    <div class="full-screen-container">
        <form action="{{ url_for('search') }}" method="GET">
            <p>
                <input type="text" name="q" id="query" placeholder="Search for game deals..." required>
                <button type="submit">&rarr;</button>
            </p>
        </form>
    </div>
{% endblock %}
