{% extends 'base.html' %}

<title>{% block title %}Search{% endblock %}</title>

{% block header %}
    <a href="{{ url_for('index') }}" class="back">&larr;</a>
{% endblock %}

{% block content %}
    <div class="deals-wrapper">
    {% for deal in deals: %}
        <div class="deal">
            <table>
                <tr>
                    <th rowspan="3" class="title">{{ deal.game }}</div>
                    <th>How much?</th>
                    <th>Where to buy?</th>
                    <th></th>
                </tr>
                <tr>
                    <td class="prices" rowspan="2">
                        <div class="price">New price: {{ deal.new }}€ - {{ deal.cut }}%</div>
                        <div class="price">Old price: {{ deal.old }}€</div>
                    </td>
                    <td class="stores" rowspan="2">
                            <div class="shop">Shop: {{ deal.shop }}</div>
                            <div class="drm">DRM: {% for drm in deal.drms %} {{ drm }} {% endfor %}</div>
                    </td>
                    <td class="actions" rowspan="2">
                        <a href="{{ deal.urlbuy }}" class="buy" target="_blank">Buy</a>
                        <a href="{{ deal.urlinfo }}" class="info" target="_blank">Info</a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    </div>
{% endblock %}